.landing-text{
    color: chocolate;
}
.bg-customIoT{
    background-color: #F9F5EB;
}
.custom-font-head{
    font-family: 'Inter Tight', sans-serif;
}
.custom-font-sub{
    font-family: 'Lato', sans-serif;
}
.bg-custom{
    background-color: #0f2860;
}
.btn-outline-custom{
    border: none;
}
.btn-signin-custom{
    background-color: rgb(190, 81, 81);
}
.glogo-custom{
    width: 5%;
    height: 5%;
}
.bg-customFooter{
    background-color: black;
}
.screen1{
    height: 25%;
}
